<div class="congrats">
  <h1>Your final score is: <%=session['current_score']%></h1>
  <h2>You're <%=session['rank']%></h2>

</div>

<div class = "leaderboard">
  <h3>Leaderboard this week</h3>
  <table class="results">
    <div class="columns">
      <tr>
        <td></td><br>
        <td> </td>
        <td></td>
        <td> </td>
      </tr>
      <tr></tr>
    </div>
  <%  @leaders.each do |player|  %>
      <tr>
        <td><%=player.username%> </td><br>
        <td><%=player.score%> </td>
        <td></td>
        <td><%=player.level%></td>
      </tr>
    <%end %>
  </table><br><br>

  <h3>Personal stats for <%=current_user.username%></h3>
  <%  @user_stats.each do |player|  %>
  <%=player.score%> - <%=player.level%> - <%=player.created_at.strftime("%l:%M%p - %b %e, %Y")%> <br>
 <%end %>
</div>

<div class= "replay_button">
  <a href="/play/0">Play again?</a>
</div>

<div class= "replay_button">
 <a href="/">New Player?</a>
</div>



