<h1> <%=@deck.name%> </h1>
<h3><%=@feedback%></h3>

<%=@question.question%>
<br>
<br>
<form action="/submit" method="POST">

<input type="hidden" name="current_id" value="<%=@id.to_i%>">
<%@answer_options.each do |current_option|%>

<input type="radio" name="answer" value ="<%=current_option%>">
<%=current_option%>
<br>

<%end%>

<br>

<br>
<input type="submit" value="Submit">
</form>

